html
  head
    script.
      function getClickHandler() {
        return function(info, tab) {
          alert("クリックされました");
        };
      };
      var parentId = chrome.contextMenus.create({
        "title" : "samplemenu",
        "type" : "normal",
        "contexts" : ["all"],
        "onclick" : getClickHandler()
      });
  body
