doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='eiurur')
    title 設定画面

    // Bootstrap core CSS
    link(href='../../css/vendors/lib.css', rel='stylesheet')
    link(href='../../css/app.css', rel='stylesheet')

    //- link(href='../../css/app.css', rel='stylesheet')
    script(src='../../js/vendors/lib.js')
    script(src='../../js/app.js')

  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Save to Ona it Later
              nav
                ul.nav.masthead-nav
                  li.active
                    a(href='#') Home
          .inner.cover

            form.form-horizontal
              .form-group
                label.col-sm-2.control-label(for='token') Token
                .col-sm-10
                  input#token.form-control(type='text', placeholder='token を入力してください')
              //- .form-group
              //-   .col-sm-offset-2.col-sm-10
              //-     .checkbox
              //-       label
              //-         input(type='checkbox')
              //-         | Remember me
              //- .form-group
              //-   .col-sm-offset-2.col-sm-10
              //-     button.btn.btn-default(type='button') 登録


            //- h1.cover-heading オプションページ
            //- input#token.form-control(type='text', placeholder='token を入力してください')
            #console
            //- p.lead
            //-   a.btn.btn-lg.btn-default(href='#') 登録


    //- .container
    //-   input#token.form-control(type='text', placeholder='token を入力してください')
    //-   #console
    // /container
