doctype
html(lang='ja')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(name='description', content='')
    meta(name='author', content='eiurur')
    title Setting

    link(href='../css/vendors/options.lib.min.css', rel='stylesheet')
    link(href='../css/options.min.css', rel='stylesheet')

    script(src='../js/vendors/lib.min.js')
    script(src='../js/options.bundle.js')

  body
    .site-wrapper
      .site-wrapper-inner
        .cover-container
          .masthead.clearfix
            .inner
              h3.masthead-brand Save to Kawpaa
              nav
                ul.nav.masthead-nav
                  li
                    a(href='https://kawpaa.eiurur.xyz') Kawpaa
                  li
                    a(href='https://github.com/eiurur/Save-to-Kawpaa') Github

          .inner.cover
            form
              .form-group.row
                label.col-sm-2.col-form-label(for='endpoint') Endpoint
                .col-sm-10
                  input#endpoint.form-control(type='text', name="endpoint", placeholder='eg: https://127.0.0.1:9021/')

          .inner.cover
            form
              .form-group.row
                label.col-sm-2.col-form-label(for='token') Token
                .col-sm-10
                  input#token.form-control(type='text', name="token", placeholder='eg: 000000-xxxxxxxxxxxxxxxxxxxxx')

          .cover
            #console